th, td {
    padding: 6px 12px;
}
td {
    border: 1px solid #505050;
}
label {
    margin-left: 24px;
    margin-right: 6px;
}
button {
    width: 120px;
    margin-left: 24px;
    margin-right: 6px;
}